[Desktop Entry]

Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

Name=convnum
Comment=Convert between numerical bases
Exec=/usr/local/bin/convnum
# Icon=
Terminal=false
Categories=Math;Education;Utility


